<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Hmmm... something's not right. <%= pluralize(object.errors.count, "issue") %> came up:
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>