<%= flash_messages %>

<p>You're all set for <strong><%= @event.name %></strong>. We hope you enjoy today's event!</p>

<div class="actions">
  <p>
    <%= link_to 'Back to check-in', checkin_path, class: 'btn btn-primary btn-xl' %>
  </p>
  <p>
    <%= link_to 'Event details', @event, class: 'btn btn-default btn-xl' %>
  </p>
</div>


